# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
#docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

*.DS_Store

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.xml
*.gz
*_minted-main*
*.toc
*.vrb
*.snm
*.out
*.nav
*main-blx.bib
*.pyg
*.xdv
*.dvi
*.ps

*main.pdf
*Stochastic_Block_Model_Prior_with_Ordering_Constraints_for_Gaussian_Graphical_Models.pdf

.vscode/launch.json
output/**/*.rds
output_noburnin*
dataset*
simulations.pdf
matrice_facade.csv
suonoAle_GGM.R
docs/\[R.Argiento, P.Bissiri, A.Pievatolo, C.Scrosati\] Multilevel Functional Principal Component Analysis of Facade Sound (2015).pdf
Suono_centered.Rdat
Suono_Quantile_Normalized.Rdat
*/figure-latex/*.pdf
03_analysis_real_dataset.pdf

02c_simulation_grid_visualization_notebook.pdf
01_simulations_basic.pdf
02e_simulation_grid_kl_comparison.pdf
*.acn
*.gls
*.acr
*.glo
*.ist
*.glg
*.alg
